<table>
  <tr>
    <td>
      <p>
        <%= Spree.t('order_mailer.confirm_email.dear_customer') %>
      </p>
      <p>
        <%= Spree.t('order_mailer.confirm_email.instructions') %>
      </p>
      <p>
        <%= Spree.t('order_mailer.confirm_email.order_summary') %>
      </p>

      <p>
        <%= Spree.t('order_mailer.confirm_email.thanks') %>
      </p>
    </td>
  </tr>
</table>
